header {
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    padding: 20px;

    img {
        width: 200px;
        height: 35px;
    }

    nav {
        ul {
            width: max-content;
            display: flex;
            gap: 30px;
            align-items: center;
            list-style: none;

            a {
                color: #fff;
            }

            button {
                padding: 10px 20px;
                border-radius: 50px;
                border: none;
                font-weight: 700;
                text-transform: uppercase;
                font-family: 'Fraunces', serif;
            }
        }
    }
}