header {
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    background-color: #3EBFFF;
    padding: 20px;

    img {
        width: 200px;
        height: 35px;
    }

    nav {
        ul {
            width: max-content;
            display: flex;
            gap: 30px;
            align-items: center;
            list-style: none;

            a {
                color: #fff;
            }

            button {
                padding: 10px 20px;
                border-radius: 50px;
                border: none;
                font-weight: 700;
                text-transform: uppercase;
                font-family: 'Fraunces', serif;
            }
        }
    }

    label {
        display: none;
    }

    .menu-open {
        display: flex;
        justify-content: center;
        padding: 30px;
        width: 350px;
        background-color: #fff;
        position: absolute;
        top: 100px;
        right: 35px;

        @media screen and (max-width: 420px) {
            width: 100%;
            right: 0;
        }

        &::before {
            content: '';
            position: absolute;
            right: 0;
            top: -30px;
            width: 30px;
            height: 30px;
            background-image: linear-gradient(135deg, transparent 50%, #fff 50%);
        }

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;

            a {
                color: $dark-moderate-cyan;
            }

            button {
                background-color: $yellow;
            }
        }
    }



    @media screen and (max-width: 750px) {

        label {
            display: block;

            &:before {
                content: url(../assets/images/icon-hamburger.svg);
            }

            input[type=checkbox] {
                visibility: hidden;
            }
        }

        nav {
            display: none;
            width: 0;
        }

    }
}