footer {
    width: 100%;
    background-color: $grayish-blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 50px;

    img {
        width: 200px;
        height: 35px;
    }

    .links,
    .socials {
        ul {
            display: flex;

            li {
                &:not(:last-child) {
                    margin-right: 50px;
                }
            }
        }
    }

    .links {

        margin-bottom: 50px;

        ul {
            li {
                a {
                    color: $very-dark-grayish-blue;
                    font-size: 1em;
                }
            }
        }
    }


    .socials {

        ul {
            li {
                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }

}